*{
    font-family: Roboto;
}

body{ /*using this to keep the footer in the bottom*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{ /*using this to keep the footer in the bottom*/
    flex: 1;
}

/*Header and navigation style*/
.header{ 
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
}

.header_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.header_nav_a{
    margin: 8px;
    text-decoration: none;
    color: #E5E7EB;
}

.header_nav_a:hover{
    color: #fdfeff;
}

/*First section style*/

.darkSection{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 7vh;
}

.darkSection_div{
    width: 90vh;
    height: auto;
}

.darkSection_mainText{
    color: #F9FAF8;
    font-size: 48px;
}

.darkSection_descriptionText{
    color: #E5E7EB;
    font-size: 18px;
}

.darkSection_button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border: none;
    width: 25vh;
    height: 7vh;
    border-radius: 12px;
}

.darkSection_button:hover{
    background-color: #1467ee;
    cursor: pointer;
}

.darkSection_imgPlaceholder{
    background-color: #818386;
    color: #E5E7EB;
    width: 80vh;
    height: auto;
}

/*Second section style*/

.title_sectiontwo{
    text-align: center;
    padding: 9px;
    font-size: 26px;
    color: #1F2937;
    margin-top: 5vh;
}

.content_sectiontwo{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 5vh;
}

.content_sectiontwo_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40vh;
    height: auto;
}

.content_image{
    width: 25vh;
    height: 25vh;
    border: 3px;
    border-color: #3882F6;
    border-style: solid;
    border-radius: 12px;
}

.content_text{
    color: #7e7e7e;
    font-size: 18px;
    width: 27vh;
}

/*Quote section style*/

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 12vh;
}

.quote_phrase{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;;
    max-width: 70%;
    margin: 0 auto;
}

.quote_credit{
    align-self: flex-end;
    margin-right: 25vh;
    font-weight: 700;
    color: #1F2937;;
    font-size: 20px;
}

/*Action call section style*/

.actionCall{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.actionCall_box{
    background-color:#3882F6;
    border-radius: 12px;
    display: flex;
}

.actionCall_box_text{
    margin: 3vh 10vh;
    color: #F9FAF8;
}

#actionCall_text1{
    margin-bottom: 0;
}

#actionCall_text2{
    margin-top: 2px;
}

.actionCall_box_button{
    margin: 3vh 10vh;
    align-self: center;
}

.button{
    color: #F9FAF8;
    font-weight: 700;
    background-color: #3882F6;
    border-style: solid;
    border-radius: 8px;
    border-color: #F9FAF8;
    padding: 5px 25px;
}

.button:hover{
    background-color: #1b72ff;
    color: #ffffff;
    cursor: pointer;
}

/*Footer style*/

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 3vh;
}