*{
    font-family: Roboto;
}

body{ /*using this to keep the footer in the bottom*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{ /*using this to keep the footer in the bottom*/
    flex: 1;
}

/*Header and navigation style*/
.header{ 
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    font-size: 24px;
}

.header_nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

.header_nav_a{
    margin: 8px;
    text-decoration: none;
    color: #E5E7EB;
}

.header_nav_a:hover{
    color: #fdfeff;
}

/*First section style*/

.darkSection{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    padding: 7vh;
}

.darkSection_div{
    width: 90vh;
    height: auto;
}

.darkSection_mainText{
    color: #F9FAF8;
    font-size: 48px;
}

.darkSection_descriptionText{
    color: #E5E7EB;
    font-size: 18px;
}

.darkSection_button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border: none;
    width: 25vh;
    height: 7vh;
    border-radius: 12px;
}

.darkSection_button:hover{
    background-color: #1467ee;
}

.darkSection_imgPlaceholder{
    background-color: #818386;
    color: #E5E7EB;
    width: 80vh;
    height: auto;
}

/*Second section style*/

.title_sectiontwo{
    text-align: center;
    padding: 9px;
    font-size: 26px;
    color: #1F2937;
}

.content_sectiontwo{
    display: flex;
    justify-content: space-evenly;
}

.content_sectiontwo_div{
    justify-content: center;
    text-align: center;
    width: 40vh;
    height: auto;
}

.content_image{
    
}